# Project-specific npm configuration
# registry=https://registry.npmjs.org/
# save-exact=true
# engine-strict=true


save-exact=true 
# used to make sure that the version of the package is exact and not a range